input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
*{
    font-family: sans-serif;
    color: black;
}
input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    border: none;
    width: 100px;
}
body{
    background-color: rgb(70, 66, 66);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    gap: 30px;
}
.hesapMakinesi{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(200, 200, 200);
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    height: 50%;
    width: 40%;
    gap: 30px;
}
.sonucs{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    height: 50px;
    width: 30%;
}
.buttons{
    align-items: center;
    display: flex;
    gap: 20px;
}
button{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: duration s;
    border-radius: 25%;
    cursor: pointer;
    height: 50px;
    border: none;
    width: 50px;
}
button:hover{
    background-color: rgb(200, 200, 200);
}
button:active{
    transform: translateY(5px);
}